// Breakpoint prefix	Minimum width	CSS

$xs: 428px; // Mobile
$sm: 640px; // small screens
$md: 768px; // tablets
$lg: 1728px; // landscape tablets / laptops

// xl	80rem (1280px)	@media (width >= 80rem) { ... }