// Breakpoint prefix	Minimum width	CSS

$xs: 1320px; // iphone16 pro max
$sm: 1520px; // small screens
$lg: 1728px; // landscape tablets / laptops

// xl	80rem (1280px)	@media (width >= 80rem) { ... }