@use "./devices.scss";

@mixin phone {
  // for screens 428px or smaller
  @media only screen and (max-width: devices.$xs) {
    @content;
  }
}

@mixin desktop {
  // for screens
  // @media only screen and (min-width: (devices.$xs + 1px)) and (max-width: devices.$lg) {
  //     @content;
  // }
  @media only screen and (min-width: (devices.$xs + 1px)) {
    @content;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  border: 4px double white;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;

  &__top-row {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: flex-start;
  }

  &__remaining {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &-pile {
      display: flex;
      align-items: center;
      //justify-content: center;
      width: 100px;
      height: 150px;
      font-weight: bold;
      overflow: visible;
      position: relative;

      &--todraw {
        position: relative;
        width: 80px;
        height: 120px;
        border: 2px dashed #999;
        display: flex;
        align-items: center;
        //justify-content:center;
        margin: 5px;
        background-color: white;
        color: black;
        font-weight: bold;
        cursor: pointer;
      }
    }

    &-button {
      font-size: 50px;
      background-color: green;
      width: 60px;
      height: 60px;
      font-weight: bold;
    }
  }

  &__foundation {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    gap: 20px;

    &-pile {
      display: flex;
      flex-direction: column;
      align-items: center;
      //justify-content: center;
      width: 100px;
      height: 150px;
      font-weight: bold;
      background-color: #666;

      &__hearts,
      &__clubs,
      &__diamonds,
      &__spades {
        width: 80px;
        height: 120px;
        border: 2px dashed #999;
        display: flex;
        align-items: center;
        //justify-content: center;
        margin: 5px;
        background-color: white;
        color: black;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  .foundation__pile:hover {
    background-color: #666;
  }

  &__solitaire {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &-pile {
      position: relative;
      width: 100px;
      // min-height: 150px;
      min-height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;;
      background-color: rgba(0, 255, 0, 0.2);
      cursor: pointer;
    }
  }
}

.card {
  width: 60px;
  height: 90px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  text-align: left;
  line-height: 120px;
  font-size: 14px;
  // position: relative;
  position: absolute;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  // user-select: none;
  // display: flex;
  // justify-content: flex-start;
  // align-items: flex-start;

}

.card_value {
  font-weight: bold;
}

.card--facedown {
  background-color: lightseagreen;
  color: transparent;
}

.card--in-remaining {
  position: absolute;
  top: 0;
  left: 0;
}

.card__corner {
  font-size: 14px;
  font-weight: bold;
}
